@media screen and (min-width: 360px) and (max-width: 600px) {
    .container
    {
        margin: 1rem;
    }
    .tittle-container
    {
        margin-top: 2rem;
        display: flex;
    ;
    }
    #tittle
    {
        font-family: 'inter';
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.313rem;
       margin-top: 0.2rem;
        margin-left: 0.5rem;
    }
    }