

    
<div class="container"> 
    <div class="tittle-container">
        <div><a (click)="goToPreviousPage()"><img src="assets\solar_arrow-up-linear.png"></a>
        </div>
        
        <div>  <h2 id="tittle"> About Us</h2></div>
    </div>
    <div>
        <p>
            
Welcome to Kisan Market, a family-managed retail unit rooted in a deep connection to farming since generations. Established in 2024, our story began as humble farmers, navigating the fields and embracing the essence of agriculture. As time unfolded, our journey led us to the vibrant world of retail, where we are creating a bridge between farmers and customers, making both customers and farmers profitable by cutting down the traditional middleman model of bringing farm-grown products from farmers to customers.

Fueled by a passion for providing the community with quality produce, we have amalgamated our extensive experience in both farming and retail to bring you Kisan Market – a delivery app dedicated to delivering fresh, farm-grown products directly to your doorstep at affordable prices.

At Kisan Market, we understand the importance of fostering a direct connection between farmers and consumers. Through our app, we aim to bridge the gap, ensuring that you receive the freshest produce while supporting local farmers. Our commitment to quality, affordability, and sustainability defines our mission.

Join us on this journey, where the simplicity of farm life meets the convenience of modern technology. Experience the taste of freshness, handpicked, and delivered with care. Welcome to Kisan Market – where farm-fresh goodness is just a click away!
        </p>
    </div>
</div>
