<div class="container">
    <div class="tittle-container">
        <div><a  (click)="goToPreviousPage()"><img src="assets/solar_arrow-up-linear.png"></a>
        </div>
        <div class="logo-div"><img src="assets/profile/iconamoon_profile.png" id="logo">
        </div>
        <div>  <p id="tittle">Store Address</p></div>
    </div>
    <div class="address">
        <div><img src="assets/profile/location.png"></div>
        <div><p>KISSAN MART,</p></div>
    </div>
    <div><p>Plot No 588,Vedehi Nagar,Near BDL Complex,Vanasthalipuram Gurramguda Road,Hyderabad,Rangareddy,Telangana,500070</p></div>
    <div class="container-map">  
        <google-map height="400px"
                    width="100%"
                    [center]="center"
                    [zoom]="zoom"
                    (mapClick)="moveMap($event)"
                    (mapMousemove)="move($event)" class="map-main">
                    <map-marker *ngFor="let marker of markers"
                [position]="marker.position"></map-marker>
        </google-map>
    </div>
    <div>Latitude: {{display?.lat}}</div>
    <div>Longitude: {{display?.lng}}</div>
</div>
