body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
.arrow
{
    position: fixed;
    background: transparent;
    top:1rem;
    left: 1rem;
}
.container {
    height: 100vh;
    padding-top: 25vh;
    padding-bottom: 0;
    margin: 0;
    background: radial-gradient(circle at 100% 0, #b1f0ce 0%, 
    #E8F4EE 25%,
    #E8F4EE 100%);
}

.content {
    text-align: center;
    display: grid;
    row-gap: 0;
}

#tittle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: black;
}

#title2 {
    font-family: inter;
    font-weight: 600;
    font-size: 120%;
    color: black;
}
#logo{
    /* border: 1px solid black; */
     width: 4.5rem;
    height: 4.5rem;
    position: relative;
    left: 40%;
   
}
.log-img{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    /* position: relative;
    top: -20%;
    left: -20%; */
}
#verification-text {
    font-family: inter;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #B6B6B6;
}
.logIn-div
{
    width: 90%;
}
fieldset {
    width: 100%;
    height: 3rem;
    border: 0.01rem solid #B6B6B6;
    border-radius: 0.6rem;
    /* height: 2.625rem; */
    display: flex;
    background-color: white;
}
.line
{
    background-image: linear-gradient(to right, transparent 40px,#B6B6B6 40px,#B6B6B6 41px, transparent 41px, transparent 100%);

}
legend {
    height: 0.625rem;
    color: #928D8D;
    font-family: inter;
    font-weight: 400;
    font-size: 0.7REM;
    margin-bottom: 1px;
}
p{
    margin-top: 7px;
}
.input-box1 {
    width: 140%;

    background-color:white;
    height: 1.5rem;
    border: none
}
.input-box1:focus,
.input-box1:active {
    border: none;
    
}
.input-box1:not(:focus):not(:active) {
    border: none;
}
.number-input
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.number-input p{
    color: #928D8D;
}
.second
{
    height: 2.625rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.submit-button {
    margin-left: 6rem;
    width: 10.063rem;
    height: 2.625rem;
    background-color: #00853E;
    color: #FFFFFF;
    border-radius: 1.813rem;
    border-color: white;
    font-family: 'inter';
    font-weight: 600;
    font-size: 1.125REM;
}

.input-continer {
    display: grid;
    margin-left: 1rem;
}
.last
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}
.signUp-link
{
    color: #928D8D;
    font-family: 'inter';
    font-size: 0.8rem;
    font-weight: 400;
    margin:0.5rem;
    margin-bottom: 0;
    text-align: center;
}
.loading-spinner {
    display: none;
    margin-top: 10px;
}
.sign-link
{
    color: blue;
}
.loadings
{
    position: fixed;
    top: 40%;
    left: 30%;
    width: 150px;
    height: 150px;
    /* background-color: #d6d5d5; */
    /* align-items: center; */
    text-align: center;
}
input{
    outline: 0;
    border-width: 0 0 2px;
}
