@media screen and (min-width: 360px) and (max-width: 600px) {

    .container
    {
      margin: 1rem;
    }
    .tittle-container
    {
        margin-top: 2rem;
        display: flex;
    ;
    }
    .arrow
    {
      margin-top: 0.3rem;
      margin-right: 0.3rem;
    }
    #tittle
    {
        font-family: inter;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.313rem;
       margin-top: 0.5rem;
        margin-left: 0.62rem;
        color: black;
    }
    #img-container
    {
        width:2.313rem;
        height:2.313rem;
        background-color: #00853E;
        text-align: center;
        border-radius: 50%;
        margin-top:0 ;
    }
    #vegetables-logo
    {
       width: 1.2rem;
       height: 1.2rem;
        margin-left: 0rem;
       margin-top:0.49rem ;
       
    }
    .countTittle
    {
      
      font-family: 'inter';
      font-weight: 500;
      font-size: 1rem;
      line-height: 1rem;
    }
    .main-item
    {
        width:100%;
        box-shadow: 0 0 0rem 0.03rem #00000040;
        border-radius: 0.25rem;
    }
    .container-items
    {
      display: flex;
      justify-content: space-between;
      
    }
    .img-name
    {
      margin: 1rem;
      display: grid;
      row-gap: 0.2rem;
    }
    .img
    {
      padding: 0;
      margin: 0;
    }
    .img-name span{
      padding: 0;
     margin-left: 0.3rem;
      margin-top: 0rem;
    }
    .img img
    {
      width: 3.438rem;
      height: 2.75rem;
      border: 1px solid #D9D9D9;
      border-radius: 0.4rem;
      margin: 0;
      padding: 0;
    }
    .price-kgs
    {
      margin: 2rem;
    }
    .text-dex
    {
      font-family: 'inter';
      font-size: 1rem;
      font-size: 500;
      line-height: 1.25rem;
    }
    hr
    {
      width: 90%;
      margin-top:  0;
    }
    
    .bill-container
    {
        width: 90%;
        padding: 1rem;
        border-radius: 0.4rem;
        display: grid;
        border: 0.625rem;
       
        
        box-shadow: 0 0 0rem 0.03rem #00000040;
    }
    
    .mrp {
        display: flex;
        justify-content: space-between;
    }
    .horizontal-line {
        border-top: 1px solid #ccc;
        margin: 10px 0; /* Adjust margin as needed */
      }
    .delivery-charge
    {
        display: flex;
        justify-content: space-between;
    }
    .address-section
    {
      border: 1px solid #B6B6B6;
      box-shadow: 0 0 0rem 0.03rem #00000040;
    }
    .addresss
    {
        display: flex;
        justify-content: space-around;
        margin: 1rem;
    }
    .address-sub
    {
      margin: 0.5rem;
    }
    .selectAddress-btn
    {
      background-color: #fff;
      border: 1px solid #B6B6B6;
      height: 2rem;
      font-family: 'inter';
      font-weight: 500;
      font-size: 1rem;
    }
    .addNew-btn
    {
      background-color: #00853E;
      color: #B6B6B6;
      border: 1px solid #B6B6B6;
      height: 2rem;
      font-family: 'inter';
      font-weight: 500;
      font-size: 1rem;
    }
    .alert-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .alert-box {
        background: #fff;
        padding: 20px;
        text-align: center;
      }
      .alert-box button
      {
        background-color: green;
        width: fit-content;
      }
      .Payment-main
      {
        width: 20.125rem;
        height: 3rem;
        margin-top: 1rem;
        /* border: 1px solid #ccc; */
      }
      .pay-button
      {
        background-color: #00853E;
        color: #D9D9D9;
        height: 1.5rem;
        border: none;
        margin-left: 1rem;
        border-radius: 0.8rem;
        width: 100%;
        text-align: center;
      }
      .payment-container
      {
        display: flex;
      }
      #img
      {
        margin: 1rem;
        
      }
     .sorce
     {
      display: inline-flex;
     }
     .sub-contianer
    {
      display: flex;
      width: 20.125rem;
      justify-content: space-between;
    }
    #change
    {
      float: right;
    }
    .removeBtn
    {
      background-color: #FF2400;
      color: #f5f3f3;
      margin-top: 2rem;
      height: fit-content;
      border: 0;
      border-radius: 0.25rem;
    }
    
    .Address-tittle
    {
        margin-top: 0;
        font-family: 'inter';
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 1rem;
        display: flex;
       
    }
    .title-identity
    {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
       border: 0.01rem solid black;
        background-color: #00853E;
        margin-right: 0.5rem;
    }
    #confetti-canvas
    {
      width: 90%;
      padding: 2%;
      position:fixed;
      top: 38%;
      /* left: 3%; */
      /* transform: translate(-50%, -50%); */
      /* background-color: #cbc8c8; */
      /* padding: 10px; */
      border-radius: 5px;
    }
    }