<div class="container"> 
    <div class="tittle-container">
        <div><a (click)="goToPreviousPage()"><img src="assets/solar_arrow-up-linear.png"></a>
        </div>
        
        <div>  <span id="tittle">Policies</span></div>
    </div>
    <div>
      <div class="policy"> <span (click)="toggleSection('Shipment')">Shipping and Delivery </span></div>
      <hr>
      <div *ngIf="showShipment">
       
        <a><p>https://merchant.razorpay.com/policy/Nb37ckZBzAjdP4/shipping</p></a>
        Last updated on Feb 15 2024
        For International buyers, orders are shipped and delivered through registered international couriercompanies and/or International speed post only. <br>
        For domestic buyers, orders are shipped throughregistered domestic courier companies and /or speed post only. Orders are shipped within 0-7 days or as per the delivery date agreed at the time of order confi rmation and delivering of the shipmentsubject to Courier Company / post offi ce norms.
         <br>KISAN MARKET is not liable for any delay in deliveryby the courier company / postal authorities and only guarantees to hand over the consignment to thecourier company or postal authorities within 0-7 days from the date of the order and payment or as perthe delivery date agreed at the time of order confi rmation. <br>
        Delivery of all orders will be to the addressprovided by the buyer. Delivery of our services will be confi rmed on your mail ID as specifi ed duringregistration. For any issues in utilizing our services you may contact our helpdesk on 6301086714 or {{email}}.
        <hr>
      </div>
      
    </div>
    <div>
       <div class="policy"> <span (click)="toggleSection('privacy')">Privacy policy</span></div>
       <hr>
       <div *ngIf="showPrivacy">
         
          Welcome to Kisan Mart("we," "our," "us"). We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and share your information when you use our iOS app to order fresh vegetables delivered by our in-house delivery team.
          <br>
          <br>
          <h2>Information: We Collect</h2>
          <br>
          We collect the following personal information from you:<br>
          <span>Name</span> : To personalize your experience and ensure correct delivery.
         <br> <span>Mobile Number</span> : For communication regarding your orders and delivery updates.
         <br><span>Email Address</span> : For account creation, order confirmation, and promotional communications.
         <br> <span>Password</span> : To secure your account.
         <br> <span>Delivary address</span> : To deliver your ordered vegetables to the correct location.
          <br><br>
          <h2>How We Use Your Information</h2>
          <br>
          <span>We use the collected information for the following purposes:          </span>
          <br><br>
          <h2>Order Processing and Delivery</h2>  To process your orders and ensure timely delivery of fresh vegetables.
          <br>
          <span>Account Management</span> : To create and manage your account on our app.
          <br>
          <span>Communication </span> : To send you updates about your orders, promotional offers, and respond to your queries.
          <br>
          <span>Security </span> : To protect your account and ensure the security of our services.
          <br>
          <br>
          <h2>How We Share Your Information</h2>
          <br>
          <span>We do not sell, trade, or otherwise transfer your personal information to outside parties except as described below:</span>
          <br>
           <span> In-House Delivery Team </span>: Your name, mobile number, and delivery address will be shared with our delivery team to facilitate the delivery of your orders.
           <br> <span>Service Providers </span>: We may share your information with third-party service providers who assist us in operating our app, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.
            <br>
            <span>Data Security</span>
            We implement a variety of security measures to maintain the safety of your personal information. Your account information is protected by a password for your privacy and security. We also use encryption and other technologies to secure your data during transmission and storage.
          <br>
          <br>
          <h2>Your Rights</h2>
          <h2>You have the right to</h2>

          <span>Access:</span> Request a copy of the personal information we hold about you.
          <span>Correction:</span> Request correction of any inaccurate or incomplete information.
          <span>Deletion:</span> Request deletion of your personal information, subject to certain exceptions.
          <span>Withdraw Consent:</span> Withdraw your consent to the processing of your information, where we rely on your consent.
            To exercise any of these rights, please contact us at [Your Contact Information].
          <br><br>
          <h2>Changes to This Privacy Policy</h2>
          We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.
          
        <h2>Contact Us</h2>
        If you have any questions about this Privacy Policy, please contact us at: 
        <br>
        <span>Email:</span> {{email}}
        <span>Phone:</span> +91 6301086714
          By using our app, you consent to our Privacy Policy.This Privacy Policy was last updated on [01/06/2024].
          Kisan Market 

         
         
       </div> 
      
    </div>
    <div>
       <div class="policy"> <span (click)="toggleSection('cancellation')">Refund Policy</span></div>
        <hr>
          <div  *ngIf="showCancellation">
            
           
            <p>KISAN MARKET believes in helping its customers as far as possible, and has therefore a liberal cancellation policy. Under this policy:

            Cancellations will be considered only if the request is made within same day of placing the order. However, the cancellation request may not be entertained if the orders have been communicated to the vendors/merchants and they have initiated the process of shipping them.<br>
            
            KISAN MARKET does not accept cancellation requests for perishable items like flowers, eatables etc. However, refund/replacement can be made if the customer establishes that the quality of product delivered is not good.<br>
            
            In case of receipt of damaged or defective items please report the same to our Customer Service team. The request will, however, be entertained once the merchant has checked and determined the same at his own end. This should be reported within same day of receipt of the products.<br>
            
            In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice of our customer service within same day of receiving the product. The Customer Service Team after looking into your complaint will take an appropriate decision.<br>
            
            In case of complaints regarding products that come with a warranty from manufacturers, please refer the issue to them.
            
            In case of any Refunds approved by the KISAN MARKET. The refund process is expected to be completed with in 5-7 bussiness days from the date pf cancellation, with the amount 
          deposited into the customer's bank account</p>
          
          <br><br><span class="sub-title">Customer Support:</span><br>

          Our customer support team is available 24/7 to assist you with any concerns or inquiries. Reach out to us through the app or by emailing [email].
          
          <br><br> <span class="sub-title">Policy Changes:</span><br>

          <span class="Kissan-tittle">KissanMart</span> reserves the right to update or modify this refund policy at any time. Customers will be notified of any changes through the app or via email.
          By using our Kissan Mart App, you agree to adhere to the terms and conditions outlined in this refund policy. If you have any questions or concerns, please contact our customer support team.

          Thank you for choosing <span class="Kissan-tittle">KissanMart</span>!
        <hr>
        </div>
        
        
    </div>
    <div>
        <div class="policy"> <span (click)="toggleSection('terms')"> Terms and conditions</span></div>
        <hr>
        <p  *ngIf="showTerms">
        For the purpose of these Terms and Conditions, The term "we", "us", "our" used anywhere on thispage shall mean KISAN MARKET, whose registered/operational offi ce is Pl no: 588, Vedehi Nagar,Near BDL Complex, Vanasthalipuram, Gurramguda Rd K V Rangareddy TELANGANA 500070 .<br>
        "you", “your”, "user", “visitor” shall mean any natural or legal person who is visiting our websiteand/or agreed to purchase from us.<br>
      
      Your use of the website and/or purchase from us are governed by following Terms and Conditions:
      The content of the pages of this website is subject to change without notice.
      Neither we nor any third parties provide any warranty or guarantee as to the accuracy,timeliness, performance, completeness or suitability of the information and materials foundor offered on this website for any particular purpose. You acknowledge that such informationand materials may contain inaccuracies or errors and we exspanssly exclude liability for anysuch inaccuracies or errors to the fullest extent permitted by law.
      Your use of any information or materials on our website and/or product pages is entirely atyour own risk, for which we shall not be liable. It shall be your own responsibility to ensurethat any products, services or information available through our website and/or productpages meet your specifi c requirements.
      Our website contains material which is owned by or licensed to us. This material includes, butare not limited to, the design, layout, look, appearance and graphics. Reproduction isprohibited other than in accordance with the copyright notice, which forms part of theseterms and conditions.
      All trademarks reproduced in our website which are not the property of, or licensed to, theoperator are acknowledged on the website.
      
      Unauthorized use of information provided by us shall give rise to a claim for damages and/orbe a criminal offense.
      From time to time our website may also include links to other websites. These links areprovided for your convenience to provide further information.
      You may not create a link to our website from another website or document without KISANMARKET's prior written consent.
      Any dispute arising out of use of our website and/or purchase with us and/or any engagementwith us is subject to the laws of India .
      We, shall be under no liability whatsoever in respect of any loss or damage arising directly orindirectly out of the decline of authorization for any Transaction, on Account of theCardholder having exceeded the spanset limit mutually agreed by us with our acquiring bankfrom time to time
      
    </p>
      </div>
</div>

